In [1]:
import pandas as pd

# Automating wranglin' homework

1. Write a function to convert the data file "018_HW_2x2_data.csv" from wide to "tidy" long format. Your function can assume that the input data consist of 4 columns (like our rat data), but should handle any number of rows (i.e. number of observations per cell).

In [2]:
data1 = pd.read_csv('data/018_HW_2x2_data.csv')

def add_index_and_melt(data: pd.DataFrame) -> pd.DataFrame:
    '''
    Adds index column, melt and split column names into multiple columns

    Parameters
    ----------
    data : pd.DataFrame
        Data frame to be processed
        Data frame should be in wide format with column names in the format of A_1_B_2
    
    Returns
    -------
    pd.DataFrame
        Data frame in long format with index column
        Column names will be 'index', 'A', 'B', 'value'
    '''
    # save original index
    data = data.assign(index=data.index)
    # pivot wide to long
    data = data.melt(id_vars='index', value_vars=data.columns[:-1], var_name='variable', value_name='value')
    
    # split variable column into parts
    var_fields = data.variable.str.split('_')
    data.drop(columns='variable', inplace=True)

    # create new columns based on variable column (A_1_B_2 => A->1, B->2)
    var_columns = []
    for i in range(len(var_fields[0]) // 2):
        var_columns.append(var_fields.str[i*2][0])
        data[var_fields.str[i*2][0]] = var_fields.str[i*2 + 1]

    # reorder columns
    data = data[['index'] + var_columns + ['value']]

    return data

add_index_and_melt(data1)

   index Condition Level  value
0      0         A     1     10
1      1         A     1     15
2      0         A     2     20
3      1         A     2     25
4      0         B     1     30
5      1         B     1     35
6      0         B     2     40
7      1         B     2     45


2. Test your function on the file "018_HW_2x2_data2.csv".

In [3]:
data2 = pd.read_csv('data/018_HW_2x2_data2.csv')

add_index_and_melt(data2)

    index Condition Level  value
0       0         A     1     10
1       1         A     1     15
2       2         A     1     20
3       3         A     1     25
4       4         A     1     30
5       5         A     1     35
6       0         A     2     20
7       1         A     2     25
8       2         A     2     30
9       3         A     2     35
10      4         A     2     40
11      5         A     2     45
12      0         B     1     30
13      1         B     1     35
14      2         B     1     40
15      3         B     1     45
16      4         B     1     50
17      5         B     1     55
18      0         B     2     40
19      1         B     2     45
20      2         B     2     50
21      3         B     2     55
22      4         B     2     60
23      5         B     2     65